/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background-color: beige;
}
.form-container{
    background-color: lightgray;
    border: solid 2px black;
    border-radius: 10px;
}